@{
    ViewData["Title"] = "Jira Success";
}

<div class="container mt-5">
    <div class="text-center">
        <h1 class="text-success">
            <i class="fa-solid fa-check-circle me-2"></i>Support Ticket Created Successfully!
        </h1>
        <p class="mt-3 fs-5">
            Your Jira support ticket has been created successfully
        </p>
        <div class="mt-4">
            
            <a href="/" class="btn btn-secondary">
                <i class="fa-solid fa-home me-2"></i>Go to Home
            </a>
        </div>
    </div>
</div>
