<div class="card p-3">
    <h5>Private Settings</h5>
    <div class="form-floating mb-4">
        <input type="text" class="form-control" placeholder="Private Note" id="privateNote" />
        <label for="privateNote">
            <i class="fa-solid fa-lock me-2"></i>Private Note
        </label>
    </div>
</div>

