@model FullFormViewModel

@if (Model.TblQuestionsList.Any())
{
    for(var i = 0;i<Model.TblQuestionsList.Count;i++)
    {
        <h1> @Model.TblQuestionsList[i].Question</h1>

        @for (var j = 0; j < Model.TblQuestionsList[i].tblQuestionOptionlList.Count; j++)
        {
            <h1> @Model.TblQuestionsList[i].tblQuestionOptionlList[j].OptionText</h1>
        }
    }

}
else { <p>No question added yet</p> }

