@model Web_Form.Models.TblForm

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>TblForm</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @* <div class="form-group">
                <label asp-for="FormId" class="control-label"></label>
                <input asp-for="FormId" class="form-control" />
                <span asp-validation-for="FormId" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <label asp-for="HeaderPhoto" class="control-label"></label>
                <input asp-for="HeaderPhoto" class="form-control" />
                <span asp-validation-for="HeaderPhoto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FormStatus" class="control-label"></label>
                <input asp-for="FormStatus" class="form-control" />
                <span asp-validation-for="FormStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Createdby" class="control-label"></label>
                <input asp-for="Createdby" class="form-control" />
                <span asp-validation-for="Createdby" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdatedBy" class="control-label"></label>
                <input asp-for="UpdatedBy" class="form-control" />
                <span asp-validation-for="UpdatedBy" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
