@model FullFormViewModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Create";
}
@{
    var user = UserManager.GetUserAsync(User).Result;
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-lg rounded-lg">
                <form method="post" asp-controller="forms" asp-action="Create" id="mainForm" class="p-4">
                    <input hidden asp-for="TblForm.Createdby" value="@user.Name" />
                    <input hidden asp-for="TblForm.UserId" value="@user.Id" />
                    <div class="card-header bg-primary text-white d-flex justify-content-between align-items-center">
                        <h4>Create New Template</h4>
                        <button type="submit" class="btn btn-success btn-lg" id="Submit">
                            <i class="fa-solid fa-paper-plane me-2"></i>Submit
                        </button>
                    </div>
                    <div class="container mt-4">
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="tagInput" class="form-label">Tag</label>
                                @* <select asp-items="Model.tblTags" name="tags[]" multiple="multiple" id="tagSelect" class="tags-multiple form-control">
                                </select> *@
                                <input  id="tagsInput" name="tags"  placeholder="Type and press Enter to add tags" class="form-control">

                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="tagSelect" class="form-label">Topic</label>
                                <select asp-for="TblForm.topic" id="tagSelect" class="form-control">
                                    <option value="">...Select a Topic...</option>
                                    <option value="Technology">Technology</option>
                                    <option value="Health">Health</option>
                                    <option value="Science">Science</option>
                                    <option value="Business">Business</option>
                                    <option value="Education">Education</option>
                                    <option value="Quiz">Quiz</option>
                                    <option value="Other">Other</option>
                                </select>
                            </div>
                            
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="title mb-4">
                            <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
                            <div class="form-floating mb-4">
                                <input asp-for="TblForm.Title" class="form-control" placeholder="Enter Title" id="title" />
                                <label asp-for="TblForm.Title" for="title">
                                    <i class="fa-solid fa-heading me-2"></i>Title
                                </label>
                                <span asp-validation-for="TblForm.Title" class="text-danger"></span>
                            </div>
                            <div class="form-floating mb-4">
                                <textarea asp-for="TblForm.Description" class="form-control" placeholder="Enter Description" style="height: 120px;" id="description"></textarea>
                                <label asp-for="TblForm.Description" for="description">
                                    <i class="fa-solid fa-align-left me-2"></i>Description
                                </label>
                                <span asp-validation-for="TblForm.Description" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="table-responsive" id="questionDetails"></div>
                    </div>
                    <div id="Question" class="mb-4">
                        <div class="form-floating mb-4">
                            <input asp-for="TblQuestion.Question" class="form-control" placeholder="Enter Question" id="TblQuestion_Question" />
                            <label asp-for="TblQuestion.Question" for="TblQuestion_Question">
                                <i class="fa-solid fa-question-circle me-2"></i>Question
                            </label>
                            <span asp-validation-for="TblQuestion.Question" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-4">
                            <select asp-for="TblQuestion.QuestionType" class="form-control" id="TblQuestion_QuestionType" onchange="showOptionAddButton()">
                                <option value="">-- Select Question Type --</option>
                                @foreach (var type in Model.QuestionType)
                                {
                                    <option value="@type.KeywordId">@type.KeywordName</option>
                                }
                            </select>
                            <label for="TblQuestion_QuestionType">
                                <i class="fa-solid fa-cogs me-2"></i>Question Type
                            </label>
                            <span asp-validation-for="TblQuestion.QuestionType" class="text-danger"></span>
                        </div>
                        <div id="Option" class="form-floating mb-4">
                            <div class="table-responsive" id="optionList"></div>
                            <div>
                                <label asp-for="tblQuestionOption.OptionText" for="questionText">
                                    <i class="fa-solid fa-question-circle me-2"></i>Option
                                </label>
                                <input asp-for="tblQuestionOption.OptionText" class="form-control" placeholder="Enter Option" id="questionText" />
                                <span asp-validation-for="tblQuestionOption.OptionText" class="text-danger"></span>
                                <div class="d-flex justify-content-end">
                                    <button id="AddOption" type="button" class="btn btn-light mt-2 btn-sm">
                                        <i class="fa-solid fa-plus fa-lg"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-end">
                            <button id="AddSection" type="button" class="btn btn-light btn-sm">
                                <i class="fa-solid fa-plus fa-lg"></i> Add Section
                            </button>
                        </div>
                    </div>
                    <div class="form-floating mb-4">
                        <select asp-for="TblForm.IsPublic" id="visibility" class="form-control">
                            <option selected value="true">Public</option>
                            <option  value="false">Private</option>
                        </select>
                        <label asp-for="TblForm.IsPublic">
                            <i class="fa-solid fa-eye me-2"></i>Visibility
                        </label>
                    </div>
                    <div id="privateDetails" class="mt-4">
                        <label  class="form-label fw-bold">
                            <i class="fas fa-user-plus me-2 text-primary"></i> Add User
                        </label>
                        <div>
                            <select asp-items="Model.appUsers" name="states[]" multiple="multiple" id="tagSelect" class="user-multiple" style="width: 100%; max-width: 600px;">
                            </select>
                        </div>

                        
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="text-center mt-3">
        <a asp-action="Index" class="btn btn-outline-secondary">
            <i class="fa-solid fa-arrow-left me-2"></i>Back to List
        </a>
    </div>
</div>


@section Scripts {
    <script src="/js/Create.js" type="text/javascript" asp-append-version="true"></script>
        }